Тренировка #05-:
==========

Дано
----
- [ ] Данный git repo с заготовкой проекта
- [ ] Изменения ведутся в ветке dev
- [ ] Папочная структура проекта maven c готовой кодовой базой (sourcepath) src/main/java

Цели
----
- [ ]

Как проверить
-------------
- [ ]

Задачи
------
- [ ]

Отправка на ревью
-----------------
- [ ] Изменения зафиксированы в ветке dev
- [ ] Сообщение коммита следует соглашению
- [ ] Создан PR в main
